body {
    margin: auto;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
}


.menu {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    overflow: hidden;
    background-color: #333;
    border: 3px rgb(168, 10, 10) solid;
    border-radius: 3px;
}

.menu>div {

    float: left;
}

.menu>div>button {
    display: block;
    background-color: rgb(168, 10, 10);
    color: white;
    text-align: center;
    padding: 10px 16px;
    margin-left: 2em;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
}

.menu>div>button:hover {
    background-color: #111;
    transform: scale(1.4,1.4) rotate(360deg);
}

.menu>h1 {
    color: rgb(168, 10, 10);
    font-size: 40px;
    margin-left: 2em;
}

#footer {
    position: fixed;
    margin: auto;
    bottom: 0;
    max-width: 900px;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    border: 3px rgb(168, 10, 10) solid;
    border-radius: 3px;
 }
