body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(assets/background-training.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
    margin: auto;
    padding: 0.5%;
    font-family: Arial, Helvetica, sans-serif;
}


.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 6px;
    padding: 16px;
    background-color: #333;
    border: 3px rgb(168, 10, 10) solid;
    border-radius: 3px;
}

.menu>div {
    align-self: center;
}

.menu>div>button {
    background-color: rgb(168, 10, 10);
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    margin: 0.5rem;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
}

.menu>div>button:hover {
    cursor: pointer;
    background-color: #111;
    transform: scale(1.3, 1.3);
}

.menu>div>button>a, a:visited {
    text-decoration: none;
    color: inherit;
}

#header>img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

#header {
    background-color: rgb(168, 10, 10);
    border: 3px #333 solid;
    border-radius: 3px;
}

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    flex: 0;
    background-color: #333;
    color: white;
    border: 3px rgb(168, 10, 10) solid;
    border-radius: 3px;
}

#main {
    display: flex;
    flex: 1;
    justify-content: center;
}

#main>div {
    opacity: 85%;
    background-color: white;
    border-radius: 3px;
    width: 70%;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 3px 6px #474747;

}